<!doctype html>
<html>
<head>
    <title>Node Authentication</title>

        <!--  JAVASCRIPT FILES  -->

        <!-- Latest compiled and minified jquery-2 -->
        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="/javascript/main.js"></script>

        <!--  CSS FILES  -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified Font-Awsome -->
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">

        <!-- My CSS File -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- Mobile Stuff -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
