<% include header %>
<h1>Reccommmeneded Univerity Application</h1>
<h2> Please select your inputs</h2>
<div class="form-group">
  <label for="sel1">Please Select Univerity Location?</label>
  <select class="form-control" id="sel1">
    <option>South</option>
    <option>North</option>
    <option>East</option>
    <option>West</option>
  </select>
  <label for="sel1">Please Select Univerity Type?</label>
  <select class="form-control" id="sel2">
    <option>Academic</option>
    <option>Sport</option>
  </select>
</div>
