
body {
  word-wrap:break-word;
}
section {
  padding: 1em;
  padding-right: 2em;
  color: black;
}
p {
  padding-bottom: 10px;
}
.alignLeft{
  float:left;
}
.alrighRight{
  float:right;
  padding-right:150px;
}

/* Padding Quries
------------------------------------------*/
.paddingTop{
  padding-top: 30px;
}
.paddingBottom{
  padding-bottom: 15px;
}
.paddingRight{
  padding-right: 150px;
}
.paddingLeft{
  padding-left: 150px;
}

/* Visibility Quries
------------------------------------------*/
.hideAddStudentForm{
  display: none;
}
.hideViewStudentList{
  display: none;
}
.showAddStudentForm{
  display: block;
}
.showViewStudentList{
  display: block;
}


.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.centerText {
  text-align: center;
}

.floating-box {
  width: 100%;
}

.star-rating{
  display: inline-block;
}

#totalCount{
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

.floatRight{
  float: right;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
